#schedule-container
{
    height: 600px;
    width: 1100px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background: #b2b2b2;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

li {
    display: inline;

}

h1 {
	font-size: 60pt;
	color: #a34747;
	text-align: center;
    font-family: Arial;
}

body {
	background-image: linear-gradient(to bottom, #530000, #ffffff 100%);
	background-attachment: fixed;
}

.day-container {
    float: left;
    background: white;
    width: 100px;
    height: 100%;
    
}

.class{
    background: #b2b2b2;
    width:80px;
    height: 40px;
    border: 10px solid white;
    font-size: 10pt;


}


#login-buttons {
  display: block;

}

.button {
   border-top: 1px solid #1d5b82;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#a7d4f2), to(#ffffff));
   background: -webkit-linear-gradient(top, #a7d4f2, #ffffff);
   background: -moz-linear-gradient(top, #a7d4f2, #ffffff);
   background: -ms-linear-gradient(top, #a7d4f2, #ffffff);
   background: -o-linear-gradient(top, #a7d4f2, #ffffff);
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin: auto;
   float:left;
   }
.button:hover {
   border-top-color: #699ee8;
   background: #699ee8;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }