#schedule-container
{
    height: 400px;
    width: 800px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;

}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background: #b2b2b2;
}

li {
    display: inline;

}

h1 {
	font-size: 60pt;
	color: #a34747;
	text-align: center;
}

body {
	background-image: linear-gradient(to bottom, #530000, #ffffff 100%);
	background-attachment: fixed;
}



#login-buttons {
  display: block;
}